@charset "utf-8";
/* CSS Document */

/*this class will hide elements on our page*/
.hidden {
	display: none;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body {
	background-color: black;
}





.promoVid {
	width: 100%;

	display: grid;
	grid-template-columns: 3fr;
	grid-template-rows: 2fr;
	grid-gap: 0;
}



.promoVid:hover #buttonLeft{
	visibility: visible;

	opacity: 0.8;
}

.promoVid:hover #buttonRight{
	visibility: visible;

	opacity: 0.8;
}





.bannerVid {
	width: 100%;

	z-index: 0;

	grid-column: 1 / span 3;
	grid-row: 1 / span 2;

}

#buttonLeft {
	grid-column: 1;
	grid-row: 2;

	z-index: 1;

	padding-left: 20px;
	padding-bottom: 15px;

	visibility: hidden;

	opacity: 0.2;

	transition: all 0.75s linear;
}

#buttonRight {
	grid-column: 3;
	grid-row: 2;

	z-index: 1;

	padding-right: 20px;
	padding-bottom: 15px;

	visibility: hidden;

	opacity: 0.2;

	transition: all 0.75s linear;
}






.vidBut {
	height: 20px;
	width: 20px;

}

.pause, .play {
	grid-column-start: 1;
}

.mute, .unmute {
	grid-column-start: 3;
}





.displayBox {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 0;
}

#box1 {
	grid-column: 1 / span 4;
	grid-row-start: 2;
	grid-row-end: 4;
}
#box1 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box1:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box2 {
	grid-column: 1 / span 2;
	grid-row-start: 4;
}
#box2 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box2:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box3 {
	grid-column: 3 / span 2;
	grid-row-start: 4;
}
#box3 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box3:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box4 {
	grid-column: 1 / span 4;
	grid-row: 5 / span 2;
}
#box4 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box4:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box5 {
	grid-column: 1 /  span 4;
	grid-row: 7;
}
#box5 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box5:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box6 {
	grid-column: 5 / span 2;
	grid-row: 2;
}
#box6 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box6:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box7 {
	grid-column: 7 / span 3;
	grid-row: 2;
}
#box7 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box7:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box8 {
	grid-column: 5 / span 5;
	grid-row: 3 / span 3;
}
#box8 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box8:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box9 {
	grid-column: 5 / span 3;
	grid-row: 6;
}
#box9 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box9:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box10 {
	grid-column: 5 / span 3;
	grid-row: 7;
}
#box10 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box10:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

#box11 {
	grid-column: 8 / span 2;
	grid-row: 6 / span 2;
}
#box11 img {
	-webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0) contrast(100%);

    transition: filter 200ms linear;
    -webkit-transition: filter 200ms linear;
}
#box11:hover img {
	-webkit-filter: grayscale(100%) contrast(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(1);
}

.displayBox div {
	width: 100%;
	height: auto;

	overflow: hidden;
}

img {
	width: auto;
	height: 100%;

	
}
